body {
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: #278a8d;
    color: white;
}

.row_title {
    background-color: #d16767
}

.row {
    background-color: #21206d
}

.link {
    margin-right: 10px;
}

img {
    width: 400px;
}